@import "bootstrap";
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css");

body {
	background-color: #F5F5F1;
	color: #333333;
	font-family: source_sans_prolight, Arial, Helvetica, sans-serif;
	padding:0px;
	margin:0px;
}

.container-fluid {
	width: 100%;
}

.jumbotron {
	background-image: url('https://www.dropbox.com/s/svw5nfm9dlwimab/wheel2.jpg?raw=1');
	background-size: cover;
	background-repeat: no-repeat;
	min-height: 650px;
	h1, h2 {
    font-family: guardian-egyptt, georgia, serif;
    color: white;
  	}
}

.navbar-default {
	background-color: #FFFFFF;
	margin-bottom: 0;
}

.navbar-default .navbar-brand {
	font-family: caviar_dreamsbold, Arial, Helvetica, sans-serif;
	font-weight: 400;
	color: #FF5252;
	font-size: 30px;
}

.navbar-default .navbar-nav > li >a {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #33ADFF;
}

.navbar-right > li > a {
	padding-left:7px;
 	padding-right:7px;
}

.carousel-control.left, .carousel-control.right{ 
background: none !important; 
}

.center {
	text-align: center;
}
 

.main-container {
	h3 {
	font-size: 18px;
	font-family: verdana, sans-serif;
	}
}



.col-md-3:nth-child(4n+1) {
	clear: left;
}

.col-md-12 {
	h3 {
		font-size: 30px;
		font-family: Helvetica;
		}
	h5 {font-size: 18px;}
	h6 {
		font-size: 14px;
		font-weight: bold;
		}
	p {font-size: 16px;}
}

.caption {
  	h3 {
    	font-size: 20px;
    	margin: 5px;
  	}
	p {
	    font-size: 15px;
	    margin: 5px;
	}
	h4 {
		font-weight: bold;
		font-size: 15px;
		margin: 5px;
	}    
	    
}



.footer {
	position: fixed;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	font-size: 12px;
	font-family: verdana;
	color: #E4E4E4;	
	background-color: #2a2a2a;
	padding: 12px 10px;
	display: inline;
}




/*
.footer {
	position: absolute;
	left: 0px;
	bottom: 0px;
	height: 40px;
	width: 100%;
	font-size: 12px;
	font-family: verdana;
	color: #E4E4E4;	
	background-color: #2a2a2a;
	padding: 12px 10px;
	display: inline;
}
*/

@font-face {
    font-family: 'caviar_dreamsbold';
    src: url('Caviar_Dreams_Bold-webfont.eot');
    src: url('Caviar_Dreams_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Caviar_Dreams_Bold-webfont.woff') format('woff'),
         url('Caviar_Dreams_Bold-webfont.ttf') format('truetype'),
         url('Caviar_Dreams_Bold-webfont.svg#caviar_dreamsbold') format('svg');

    font-weight: normal;
    font-style: normal;
}


